
<!-- Banner -->

<div class="banner">
  <div class="banner-content">

		<div class='logo-image'>
		<%= image_tag("SFPourhouselogo.png", alt: "logo-image", class:'img-responsive logo') %>
		</div>

		<div class='opening-text'>
			<span class="opening-text-name">SF Pourhouse</span> The most happening place on Polk Street
		</div>
		<div class="sub-opening-text"> 
			We have the largest selection of wine and craft beers 
		</div>

        

  </div>
</div>

<!-- Features -->






