
<!-- Banner -->

<div class="banner">
  <div class="banner-content">

		<div class='logo-image'>
		<%= image_tag("SFPourhouselogo.png", alt: "logo-image", class:'img-responsive logo') %>
		</div>

		<div class='opening-text'>
			<span class="opening-text-name"></span> 
		</div>
		<div class="sub-opening-text"> 
			 
		</div>

        

  </div>
</div>

<!-- Features -->






