<div class="banner-menu">
  <div class="banner-content">

		<div class='logo-image'>
		<%#= image_tag("SFPourhouselogo.png", alt: "logo-image", class:'img-responsive logo') %>
		</div>

		<div class='opening-text'>
			<span class="opening-text-name">
				<a class="btn  btn-primary  animated fadeInUp needsclick" href="C:\Users\Javi\Documents\New Menu Legal Size.pdf" rel="bookmark">Menu</a>

				<%= link_to asset_path("Menu.pdf"), :class => "btn btn-large btn-danger" do %> Download Now <% end %>
			</span> 
		</div>
		<div class="sub-opening-text"> 
			 
		</div>

        

  </div>
</div>